@model IEnumerable<PartialViewAssignment.Models.People>

@{
    ViewBag.Title = "Index";
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}





@*@foreach (var item in Model)
{
    <div style="border:1px solid black;width:500px; font-family:Arial;background:Silver; margin-top:10px">
        @Html.Partial("_People", item)
    </div>
}*@
    <div style="margin-top:10px">
        @Ajax.ActionLink("All", "All", new AjaxOptions()
    {
        HttpMethod = "Get",
        UpdateTargetId = "divPeople",
        InsertionMode = InsertionMode.Replace
    })
        <span style="color:blue">|</span>

        @Ajax.ActionLink("First3", "First3", new AjaxOptions()
    {
        HttpMethod = "Get",
        UpdateTargetId = "divPeople",
        InsertionMode = InsertionMode.Replace
    })
        <span style="color:blue">|</span>

        @Ajax.ActionLink("Last3", "Last3", new AjaxOptions()
    {
        HttpMethod = "Get",
        UpdateTargetId = "divPeople",
        InsertionMode = InsertionMode.Replace
    })


        <div id="divPeople">

        </div>
    </div>

